@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  scroll-behavior: smooth;
}

.gradient {
  position: relative;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(7, 121, 222, 1) 0%, rgba(20, 72, 140, 1) 90%);
}

.solid {
  @apply bg-white text-gray-700 shadow py-3;
}

.transparent .active:not(.cta) {
  @apply text-red-400 font-bold text-lg;
}

.solid .active:not(.cta) {
  @apply text-red-600;
}


.transparent a:not(.cta):hover {
  @apply bg-lighter;
}

.solid a:not(.cta):hover {
  @apply bg-darker;
}


.opened a:not(.cta):hover {
  @apply bg-darker;
}

.transparent {
  @apply bg-transparent text-white;
}

.nav {
  transition: background ease-in-out .2s;
}

.bg-lighter {
  background-color: rgba(255, 255, 255, .1);
}

.bg-darker {
  background-color: rgba(0, 0, 0, .05);
}

section:first-of-type svg {
  margin-left: 1em;
}


@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}