@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Sansita+Swashed&family=Nunito&display=swap');

html,
body {
  scroll-behavior: smooth;
  scroll-margin: 0;
}

body * {
  @apply transition-colors duration-150 ease-in;
}

.mainGrid {
  display: grid;
  grid-template-rows: 1fr auto;
}

.card {
  @apply rounded overflow-hidden shadow-lg;
}

.brand-txt {
  @apply text-base leading-6 text-indigo-600 font-semibold tracking-wide uppercase;
}

/*navbar*/
.nav .active:not(.cta) {
  @apply text-green-400 font-semibold border-b border-gray-400;
}

.opened .nav .active:not(.cta) {
  @apply border-transparent text-green-500;
}


.nav {
  transition: background ease-in-out .2s;
}

.bg-transparent {
  background: transparent;
}

.bg-solid {
  background-color: rgba(0, 0, 0, 0.8)
}

img.webkit-full {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  border: 0 none;
}

img.blur {
  filter: blur('25px');
}

img {
  transition: 1s filter linear;
  -webkit-transition: 1s -webkit-filter linear;
}

.btn-primary {
  @apply bg-indigo-600 text-center text-white font-semibold py-3 px-4 shadow-lg tracking-wider;
}

.btn-primary:hover {
  @apply bg-indigo-700;
}

.btn-secondary {
  @apply bg-red-600 text-center text-white font-semibold py-3 px-4 shadow-lg tracking-wider;
}

.btn-secondary:hover {
  @apply bg-red-700;
}

.wrap {
  position: relative;
}

.wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.vertical.divider {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 37%;
  line-height: 0;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vertical.divider:after,
.vertical.divider:before {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 3;
  border-left: 1px solid rgba(34, 36, 38, .15);
  border-right: 1px solid rgba(255, 255, 255, .1);
  width: 0%;
  height: calc(100% - 1.5rem);
}

.vertical.divider:before {
  top: -100%;
  background-color: #fff;
}

.vertical.divider:after {
  background-color: #fff;
  top: auto;
  bottom: 0;
}

img.dev-signup {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

/* forms */

.form-main-title {
  @apply uppercase tracking-wide text-sm mb-6;
}

.form-section-title {
  @apply uppercase tracking-wide text-base;
}

.input-field:focus+.input-icon {
  @apply text-indigo-500;
}

.input-field {
  @apply py-2-5 text-sm bg-gray-150 rounded-md pl-10 outline-none;
}

.input-icon {
  @apply py-2-5 absolute inset-y-0 left-0 pl-2 text-gray-500;
}